{{#cart_items}}
    <tr class="{{name}}-container">
        <th>{{title}}</th>
        <td>
            <div class="container">
                
                <div class="row">
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-outline-warning update-existing-cart-item" data-name="{{name}}" data-update_type="subtract">
                            <i class="fa fa-minus-circle"></i>
                        </button>
                    </div>
                    <div class="col-lg-1 text-center">
                        <span class="item-amount">{{amount}}</span>
                    </div>
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-outline-success update-existing-cart-item" data-name="{{name}}" data-update_type="add">
                            <i class="fa fa-plus-circle"></i>
                        </button>
                    </div>
                </div>
            </div>
        </td>
        <td>{{price}}</td>
        <td><span class="item-sum">{{sum}}</span></td>
        <td>
            <button type="button" class="btn btn-danger delete-existing-cart-item" data-name="{{name}}" data-update_type="add">
                Remove
                <i class="fa fa-trash"></i>
            </button> 
        </td>
    </tr>
{{/cart_items}}
 